<div class = "background">
  <div class = "container">
    <h1>About Ticket To Heaven</h1>
    <p>Ticket To Heaven is the alternative market leader in providing digital prints for Christians, Jewish, Agnostics and all other faiths to take to the afterlife.</p>
    <h1>Our Mission</h1>
    <p>To ease the minds from headaches of the uncertainty when the times comes to say goodbye.  With a ticket to heaven you can share the peace of mind that there is a guarantee of enjoying the most beautiful, highest and holiest of afterlifes.</p>
    <h1>Our Story</h1>
    <p>In 2019, we found ourselves spending considerable time worrying over our futures. We decided to build a service that would meet the needs of the dying and those that care for them. </p>
  </div>
</div>

