<div class = "background">
  <div class = "container">
    <h1>How Are You Able To Guarantee Entry To Heaven?</h1>
    <p>A guarantee of entry to heaven has long been discussed and documented by the Christian Faith. Yay back when, the church would accept payment for a guaranteed entry to heaven. Ticket To Heaven's guarantee works alongside the same principles as the Church and does not deviate too far away from them. </p>
    <h1>So What Makes Ticket To Heaven different?</h1>
    <p>Ticket To Heaven is modernised by technology which allows anyone with access to the internet the opportunity to purchase their entry to heaven. Where there is a connection, there is a way. Ticket To Heaven also does not discrimiate on belief, behaviour or sexuality; everyone is guaranteed entry. Sinner or do-gooder, there is a place for you here.</p>
    <h1>What is Your Money Back Guarantee?</h1>
    <p>Ticket To Heaven is 100% sure that you will be entered to heaven that we offer a full, money back guarantee for life. If any of our customers find their entry blockaded, simply contact us on your re-entry to Earth.</p>
  </div>
</div>
