<div class = "background">

    <div>
      <%= link_to 'About', pages_about_path  %>
      <%= link_to 'Contact', pages_contact_path  %>
    </div>

    <div class = "container">
      <h1>Ticket To Heaven</h1>
      <p>Your Guaranteed Peach of Mind</p>


      <div style="display: flex">
        <p>For Them</p>
        <p>For Me</p>
        <p>For Us</p>

      </div>


      <h2>How It Works</h2>
    </div>


</div>
