<div class = "background">

    <div>
      <%= link_to 'About', pages_about_path  %>
      <%= link_to 'Contact', pages_contact_path  %>
    </div>

    <div class = "container">
      <h1>Ticket To Heaven</h1>
      <p>Your Guaranteed Peace of Mind</p>


      <div style="display: flex; padding: 10px">
        <p>For Them</p>
        <p>For Me</p>
        <p>For Us</p>

      </div>

      <h2>How It Works</h2>
      <p>Sign Up</p>
      <p>Pay</p>
      <p>Create</p>

    </div>


</div>
